/* fade */
.fade-enter-active,
.fade-leave-active
    transition: opacity $transition-default

.fade-leave-active
    position: absolute

.fade-enter-from,
.fade-leave-to
    opacity: 0

/* slide-down */
.slide-down-enter-active,
.slide-down-leave-active
    transition: opacity $transition-default, transform $transition-default

.slide-down-enter-from,
.slide-down-leave-to
    opacity: 0
    transform: translateY(-6px)

/* list */
.list-move, 
.list-enter-active,
.list-leave-active
    transition: transform .5s ease, opacity .2s ease

.list-move
    opacity: 0

.list-enter-from,
.list-leave-to
    opacity: 0
    transform: translateY(-10px)

.list-leave-active
    position: absolute
