/* fonts */
$font-fallback: Helvetica Neue, Helvetica, Arial, sans-serif
$font-primary: 'Rubik', $font-fallback

/* transitions */
$transition-default: .2s ease-in-out

/* breakpoints */
$xxl: 1440px
$xl: 1280px
$lg: 1024px
$md: 768px
$sm: 576px

/* colors */
$primary: #6099ff
$primary-hover: lighten($primary, 27%)
$secondary: #7E7E7E
$dark: #121217
$error: #ff0333
$success: #77f777

/* shadows */
$form-field-shadow: 0px 0px 0px 3px $primary
$form-field-shadow-error: 0px 0px 0px 3px $error
$dropdown-shadow: 2px 2px 6px 0px rgba($dark, 0.2);

/* gradients */
$blue-gradient: hsla(240, 32%, 19%, 1) 12%, hsla(40dd, 70%, 10%, 0.1) 90%